.etch-grid {
  margin: auto;
  box-shadow: 0 0 5px 2px #c5c4c4;
  border: 2px solid black;
  border-radius: 5px;
}

.etch-row {
  opacity: 0.5;
  margin: auto;
  line-height: 0;
}

.etch-cell {
  border-bottom: 1px solid #c5c4c4;
  border-right: 1px solid #c5c4c4;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
}
